.public-header
{
    height: 110px;
}
.public-header .header-logo
{
    float: left;
    overflow: hidden;

    width: 182px;
    height: 54px;
    margin-top: 40px;

    background: url(../images/header-logo.png);
    background-repeat: no-repeat;
}
.public-header .header-nav .item
{
    font-size: 14px;

    float: left;

    margin-top: 44px;
    margin-left: 50PX;

    color: #4f498a;
}
.header-nav
{
    float: right;
}
.public-container
{
    position: relative;

    width: 1100px;
    margin: 0 auto;
}
.public-footer
{
    height: 218px;
    padding-top: 100px;

    background-color: #3b3b3b;
}
.public-footer .footer-col
{
    font-size: 16px;
    line-height: 1.8;

    float: left;

    width: 230px;
    margin-right: 60px;

    color: #fcfafa;
}
.public-footer .footer-col:last-child
{
    margin-right: 0;
}
.public-footer .footer-logo
{
    width: 182px;
    height: 55px;
    margin-top: -10px;

    background: url(../images/footer-logo.png);
}
